@using Application.Features.ProfileDataLogic.LogicContracts
@using BlazorServerUI.StateContainers.Profile
@using JsonData.Repositories
@using Application.Features.SharedDtos
@using BlazorServerUI.Popups
@using Application.Features.CategoryUpdate
@namespace BlazorServerUI.Pages.Profile.RadialMenuItems
@inject ICategoryUpdateHandler categoryUpdateHandler
@inject ProfileStateContainer profileStateContainer

<img class="new-item-icon hover-enlarge radial-menu-item @(ShowMenu ? "item-open-1" : "item-closed")"
     src="icons/EditCategory.svg"
     @onclick="ShowEditCategory"
     title="Edit Category"/>

<Modal ShowModal="@showEditCategoryModal">
    <h3>Edit Category</h3>
    <hr/>
    <div style="margin-bottom: 5px">
        <ReactiveInputField GhostText="Title" WidthWithUnit="20ch" OnValueChange="s => editedCategoryTitle = s" InitialValue="@editedCategoryTitle"></ReactiveInputField>
    </div>
    <div style="margin-bottom: 5px">
        <label>Background color:</label>
    </div>
    <div style="margin-bottom: 5px">
        <ColorPicker ColorValue="@editedBackgroundColor" OnColorChange="@(args => editedBackgroundColor = args)"/>
    </div>
    @if (!string.IsNullOrEmpty(errorLabel))
    {
        <div>
            <label style="color:red">@errorLabel</label>
        </div>
    }
    <div style="margin-top: 15px">
        <button class="positive-color vialab-button" style="margin-right: 10px" @onclick="UpdateCategory">Accept</button>
        <button class="cancel-color vialab-button" style="margin-left: 10px" @onclick="@(() => showEditCategoryModal = false)">Cancel</button>
    </div>
</Modal>

@code {

    [Parameter]
    public bool ShowMenu { get; set; }

    [Parameter]
    public Guid CategoryId { get; set; }

    private string? editedCategoryTitle;

    private CategoryDto categoryDto;
    private string? editedBackgroundColor;
    private string errorLabel = string.Empty;
    private bool showEditCategoryModal;


    private void ShowEditCategory()
    {
        CategoryWithGuidesAndResourcesDto categoryWithGuidesAndResourcesDto = profileStateContainer.CategoriesWithGuides.First(c => c.Category != null && c.Category.Id.Equals(CategoryId));
        categoryDto = categoryWithGuidesAndResourcesDto.Category;
        editedCategoryTitle = categoryDto.Title;
        editedBackgroundColor = categoryDto.BackgroundColor;

        showEditCategoryModal = true;
        errorLabel = string.Empty;
    }

    private async Task UpdateCategory()
    {
        errorLabel = string.Empty;
        UpdateCategoryRequest to = new(categoryDto.Id, editedCategoryTitle!, editedBackgroundColor!);
        try
        {
            await categoryUpdateHandler.UpdateAsync(to);
            
            categoryDto.Title = editedCategoryTitle!;
            categoryDto.BackgroundColor = editedBackgroundColor!;

            showEditCategoryModal = false;
            
            SnackBarHandler.ShowSnackMessage("Category edited");

            profileStateContainer.UpdateCategory(categoryDto.Id); 
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
        }
    }

}