@page "/EditGuide/{GuideId:guid}"
@using BlazorServerUI.MarkdownConvert
@using Dispatcher
@using ViewData.ProfileInfo.DTOs
@using ViewData.ProfileInfo.Queries
@using Domain.OperationResult
@using Application.UseCases.GuideUseCases.ChangeTitle
@using Application.UseCases.GuideUseCases.ChangeCategory
@using Application.UseCases.GuideUseCases.ChangeDescription
@using Application.UseCases.GuideUseCases.ChangeStepsNumberVisibility
@using Application.UseCases.GuideUseCases.CreateSlide
@using BlazorServerUI.Popups
@using Domain.Entities
@inject IQueryDispatcher QueryDispatcher
@inject ICommandDispatcher CommandDispatcher

<div class="outermost-box">
    <div class="top-row-box">
        <div class="top-row-left">
            <button class="vialab-button positive-color">Save</button>
            <label>Last saved: 09:51:23</label>
        </div>
        <div class="top-row-right">
            <button class="vialab-button neutral-color">Publish guide to make it visible</button>
        </div>
    </div>
    <div class="content-box">
        <div class="left-side-box">
            <div class="guide-details-box">
                <div style="margin: 5px; margin-top: 20px">
                    <ReactiveInputField WidthWithUnit="30ch" GhostText="Guide Title" InitialValue="@guideData.Title" OnValueChangeWithReset="ChangeGuideTitle"/>
                    <div style="margin-top: 20px"></div>
                    <DropDown WidthWithUnit="30ch" InitialValue="@guideData.CategoryId.ToString()" OnValueChange="ChangeGuideCategory" Values="@guideData.CategoriesByTeacher.ToDictionary(vm => vm.Id.ToString(), vm => vm.Title)"/>
                    <div style="margin-top: 20px"></div>
                    <ReactiveInputField WidthWithUnit="30ch" GhostText="Optional short description" UseArea="true" InitialValue="@guideData.Description" OnValueChangeWithReset="ChangeGuideDescription"/>
                </div>
                <div style="margin: 5px">
                    <input id="show-steps" type="checkbox" style="cursor: pointer" @onchange="ChangeDisplayOfStepNumbers" checked="@guideData.StepNumbersVisible"/>
                    <label for="show-steps" style="cursor: pointer">Show step numbers</label>
                </div>
            </div>
            <div class="steps-box" style="text-align: center">
                <span style="margen-left:auto;margin-right: auto">Guide steps:</span>
                @for (int i = 0; i < guideData.Slides.Count; i++)
                {
                    int index = i;
                    @if (i < guideData.Slides.Count)
                    {
                        <div class="hide-able-icon-container">
                            <img src="icons/AddGuideStep.svg" class="add-guide-icon" title="Add new guide step" @onclick="() => CreateNewSlide(index)"/>
                        </div>
                    }
                    <div style="display:flex; border: solid 1px; margin: 3px;">
                        @if (guideData.StepNumbersVisible)
                        {
                            <label style="margin-left: 5px">@(i).</label>
                        }
                        <label style="margin-left: 5px">@guideData.Slides[i].Title</label>
                        <div style="margin-left:auto;padding: 1px">
                            <img src="icons/UpArrow.svg" style="height: 0.6em;cursor: pointer;display: block;margin-bottom: 3px;" title="Move up"/>
                            <img src="icons/DownArrow.svg" style="height: 0.6em;cursor: pointer;display: block" title="Move down"/>
                        </div>
                    </div>
                    
                }
                <div
                    style="margin-bottom: 10px;margin-top: 10px">
                    <img src="icons/AddGuideStep.svg" class="add-guide-icon" title="Add new guide step" @onclick="() => CreateNewSlide(guideData.Slides.Count)"/>
                </div>
            </div>
        </div>
        <div class="right-side-box">
            <div class="markdown-editor-box"></div>
            <div class="result-display-box"></div>
        </div>
    </div>
</div>
@* <div style="min-width: 45%;"> *@
@*     <div style="margin:10px"> *@
@*         <button>Preview</button> *@
@*         <button>Save</button> *@
@*         <input type="checkbox"/> *@
@*         <label>Autosave</label> *@
@*     </div> *@
@*     <div style="min-width: 45%;"> *@
@*         <MarkdownEditor @bind-Value="@markdownValue" *@
@*                         ValueHTMLChanged="@MdToHtml" *@
@*                         CustomButtonClicked="OnCustomButtonClicked" *@
@*                         ImageUploadEndpoint="" *@
@*                         ImageUploadChanged="@OnImageUploadChanged" *@
@*                         ImageUploadStarted="@OnImageUploadStarted" *@
@*                         ImageUploadProgressed="@OnImageUploadProgressed" *@
@*                         ImageUploadEnded="@OnImageUploadEnded" *@
@*                         UploadImage="true"> *@
@*             $1$ <Toolbar> #1# *@
@*             $1$     <MarkdownToolbarButton Name="Test" Icon="fa fa-bolt" Action="MarkdownAction.Bold"/> #1# *@
@*             $1$     <MarkdownToolbarButton Separator Name="CustomImageUpload" Icon="fa fa-star" Title="My Image upload" /> #1# *@
@*             $1$ </Toolbar> #1# *@
@*         </MarkdownEditor> *@
@*     </div> *@
@* </div> *@
@* <div style="min-width: 45%; min-height: 600px; background-color: #e0fbff"> *@
@*     @slideContent *@
@* </div> *@

@code
{
    [Parameter]
    public Guid GuideId { get; set; }

    private string markdownValue = String.Empty;

    private MarkupString slideContent;
    private readonly MarkdigAdapter converter = new();

    private GuideDataVM guideData = null!;


    protected override async Task OnInitializedAsync()
    {
        guideData = await QueryDispatcher.QueryAsync(new GuideDataForEditQuery(GuideId));
    }

    private Task MdToHtml(string mdSource)
    {
        slideContent = (MarkupString)converter.ConvertMdToHtml(mdSource);
        return Task.CompletedTask;
    }

    Task OnImageUploadChanged(FileChangedEventArgs e)
    {
        this.StateHasChanged();
        return Task.CompletedTask;
    }

    Task OnImageUploadStarted(FileStartedEventArgs e)
    {
        Console.WriteLine($"Started Image: {e.File.Name}");
        return Task.CompletedTask;
    }

    Task OnImageUploadProgressed(FileProgressedEventArgs e)
    {
        Console.WriteLine($"Image: {e.File.Name} Progress: {(int)e.Percentage}");
        return Task.CompletedTask;
    }

    Task OnImageUploadEnded(FileEndedEventArgs e)
    {
        Console.WriteLine($"Finished Image: {e.File.Name}, Success: {e.Success}");
        return Task.CompletedTask;
    }

    private Task OnCustomButtonClicked(MarkdownButtonEventArgs args)
    {
        throw new NotImplementedException();
    }

    private async Task<bool> ChangeGuideTitle(string arg)
    {
        Result result = await CommandDispatcher.DispatchAsync(new ChangeGuideTitleCommand(guideData.GuideId, arg));
        if (result.HasErrors)
        {
            SnackBarHandler.ShowError(result.GetCombinedErrorMessage());
            return false;
        }
        guideData.Title = arg;
        return true;
    }

    private async Task ChangeGuideCategory(string arg)
    {
        ChangeGuideCategoryCommand command = new(guideData.GuideId, Guid.Parse(arg));
        Result result = await CommandDispatcher.DispatchAsync(command);
        if (result.HasErrors)
        {
            SnackBarHandler.ShowError(result.GetCombinedErrorMessage());
        }
        guideData.CategoryId = command.CategoryId;
    }


    private async Task<bool> ChangeGuideDescription(string arg)
    {
        Console.WriteLine("Here");
        Result result = await CommandDispatcher.DispatchAsync(new ChangeGuideDescriptionCommand(guideData.GuideId, arg));
        if (result.HasErrors)
        {
            SnackBarHandler.ShowError(result.GetCombinedErrorMessage());
            return false;
        }
        guideData.Description = arg;
        return true;
    }

    private async Task ChangeDisplayOfStepNumbers(ChangeEventArgs arg)
    {
        bool shouldDisplayStepNumbers = bool.Parse(arg.Value!.ToString()!);

        Result result;
        if (shouldDisplayStepNumbers)
        {
            ShowStepNumbersCommand command = new(guideData.GuideId);
            result = await CommandDispatcher.DispatchAsync(command);
        }
        else
        {
            HideStepNumbersCommand command = new(guideData.GuideId);
            result = await CommandDispatcher.DispatchAsync(command);
        }


        if (result.HasErrors)
        {
            SnackBarHandler.ShowError(result.GetCombinedErrorMessage());
            return;
        }
        guideData.StepNumbersVisible = shouldDisplayStepNumbers;
    }

    private async Task CreateNewSlide(int stepIndex)
    {
        CreateSlideCommand command = new(guideData.GuideId, Guid.NewGuid(), stepIndex);
        Result slideResult = await CommandDispatcher.DispatchAsync(command);
        if (slideResult.HasErrors)
        {
            SnackBarHandler.ShowError(slideResult.GetCombinedErrorMessage());
            return;
        }

        SingleSlideStepQuery query = new(command.SlideId);
        SlideStepVM slideStepVm = await QueryDispatcher.QueryAsync(query);  


        // hack to make the view update, I have to change the "value" of a variable used in the page.
        // It is not enough to add a new element to the Slides collection, this will not trigger an update,
        // for whatever reason, in this specific case.
        // I cannot make StateHasChanged to work.

        IList<SlideStepVM> tempSlides = guideData.Slides;
        tempSlides.Insert(stepIndex, slideStepVm);
        guideData.Slides = tempSlides;
    }
}