<div class="category-card" style="background-color: @BackgroundColor">
    <div class="navbarheader">
        <div class="header-left">
        </div>
        <div class="header-title">
            <h2 style="font-weight: bold">@Title</h2>
        </div>
        <div class="header-right">
            <div style="position: relative; display: inline-block; ">
                <div class="container">
                    <div class="radial-menu">
                        <img class="new-item-icon hover-enlarge radial-menu-item @(showMenu ? "menu-open" : "menu-closed")" src="icons/Options.svg" @onclick="ToggleMenu" title="Options"/>
                        <img class="new-item-icon hover-enlarge radial-menu-item @(showMenu ? "item-open-1" : "item-closed")" src="icons/EditCategory.svg" @onclick="@(EditCategory)" @onmouseover="SetIsInteractingWithMenu" title="Edit Category"/>
                        <img class="new-item-icon hover-enlarge radial-menu-item @(showMenu ? "item-open-2" : "item-closed")" src="icons/AddGuide.svg" @onclick="@(NewGuide)" @onmouseover="SetIsInteractingWithMenu" title="New Guide"/>
                        <img class="new-item-icon hover-enlarge radial-menu-item @(showMenu ? "item-open-3" : "item-closed")" src="icons/AddVideo.svg" @onclick="@(NewVideo)" @onmouseover="SetIsInteractingWithMenu" title="New Video Link"/>
                        <img class="new-item-icon hover-enlarge radial-menu-item @(showMenu ? "item-open-4" : "item-closed")" src="icons/DeleteCategory.svg" @onclick="@(RemoveCategory)" @onmouseover="SetIsInteractingWithMenu" title="Remove Category"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 style="font-style: italic">Documentation</h5>
    <div style="text-align: left">
        <div class="guide-title">Tut1</div>
        <div class="guide-title">Tut2</div>
        <div class="guide-title">Tut3</div>
    </div>
    <h5 style="font-style: italic">Videos</h5>
    <div style="text-align: left; padding: 15px">
        <strong>
            <a href="https://youtu.be/EX81bDA-mkA">Installing postgres and setting up DataGrip</a>
        </strong>
        <p style="text-align: left; padding: 5px">This video shows you how to install a postgres database, and afterwards use DataGrip to connect to it.</p>
    </div>


</div>

@code {

    [Parameter]
    public string Title { get; set; } = "N/A";

    [Parameter]
    public string BackgroundColor { get; set; } = "#ffffff";

    private bool showMenu = false;
    private bool isInteracting = false;
    private bool delayedCloseIsActive = false;

    private Task NewGuide()
    {
        showMenu = false;
        return Task.CompletedTask;
    }

    private Task NewVideo()
    {
        showMenu = false;
        return Task.CompletedTask;
    }

    private Task RemoveCategory()
    {
        showMenu = false;
        return Task.CompletedTask;
    }

    private Task EditCategory()
    {
        showMenu = false;
        return Task.CompletedTask;
    }

    private async Task ToggleMenu()
    {
        showMenu = !showMenu;
        if (showMenu && !delayedCloseIsActive)
            await DelayedMenuClose();
    }

    private void SetIsInteractingWithMenu()
    {
        if (showMenu)
            isInteracting = true;
    }

    private async Task DelayedMenuClose()
    {
        delayedCloseIsActive = true;
        isInteracting = true;

        while (isInteracting && showMenu)
        {
            isInteracting = false;
            await Task.Delay(2500);
        }

        delayedCloseIsActive = false;
        showMenu = false;
    }

}